/* 
Por buenas prácticas, estilos los debo organizar por categorías:
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Efectos Visuales
5. Micelanius u otros

Así debo llamar las fuentes usadas:

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

De aquí sale modelo de lo q se debe hacer:
https://www.figma.com/file/sMmlQaZldfDcLERYYWe6h4/Bata-Bit?node-id=44%3A593

*/  

:root {         /*Variables Globales*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title-container .header-button {
    position: absolute;
    left: calc(50% - 118px);
    /* como el botón es muy grande, si lo dejo solo en el centro (50%), se sale de la pantalla */
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header-button span {
    /* esta es el ícono de la flecha */
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url("../assets/icons/down-arrow.svg");
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #FAF8F7;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;     /*Indica que de arriba a abajo no aplica margen, y que de derecha a izquiera aplica el mismo para centrarlo*/
}

.main-exchange-container .backgroundImg{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url("../assets/img/Bitcoin.svg");
    /* las q siguen a continuación están para evitar problemas con la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;      /*caracteristica de la letra*/
    line-height: 2.6rem;    /*Separacion entre las lineas de texto*/
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-top-left-radius: 1rem;
}

.currency-table--container .table__top-right {
    border-top-right-radius: 1rem;
}

.currency-table--container .table__bottom-left {
    border-bottom-left-radius: 1rem;
}

.currency-table--container .table__bottom-right {
    border-bottom-right-radius: 1rem;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7;
    color:#757575
}

.currency-table--container .down{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url("../assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-currency-table .currency-table--date {
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: var(--soft-orange);
    border-radius: 0.8rem;
}

.main-currency-table p {
    font-size: 1.2rem;
    color: var(--warm-black);
}

/*Mi codigo*/
/* .main-product-detail {
    background-color: var(--warm-black);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.main-product-container--tickets {
    margin: 0 1.5rem;
    min-width: 28rem;
}

.main-product-detail .batata-icon{
    margin: 0 auto;
    position: relative;
    top: -1.3rem;
}

.main-product--title {
    
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-product--subtitle {
    margin-top: 2rem;
    text-align: center;
    color: #808080;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.main-product-detail .main-product-container {
    margin-top: 1.5rem;
    max-width: 40rem;
    background-color: var(--black);
    padding: 1.5rem;
}

.main-product-container img {
    margin-bottom: 1rem;
}

.main-product-container h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--just-white);
}

.main-product-container p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: #808080;
} */

/* Curso */
.main-product-detail {
    position:relative;
    width: 100%;
    height: auto;
    min-width: 32rem;
    padding: 2rem 1rem;
    background-color: var(--warm-black);
}

.product-detail--batata-logo {
    position: absolute;
    width: 4rem;
    height: 2.5rem;
    top: -1rem;
    left: calc(50% - 2rem);
    background-image: url("../assets/icons/batata.svg");
}

.product-detail--title {
    width: 90%;     
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}
.product-detail--title p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--black);
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url("../assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url("../assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .dollar {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url("../assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .check {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-image: url("../assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 32rem;
    height: 40rem;
    background-image: url("../assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 6rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 32rem;
    padding-bottom: 7rem;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.plans--title h2 {
    padding-top: 5rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans--title p {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/* Scroll Horizontal */
.plans-container--slider {
    display: flex;
    gap: 1rem;
    height: 31.6rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 23rem; 
    max-width: 30rem;
    height: 25rem;
    margin: 5rem auto 0;
    padding: 0 1.5rem;
    background-color: var(--just-white);
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
}
.recommended {
    position: absolute;
    width: 12rem;
    height: 3.1rem;
    padding: 0.6rem;
    left: calc(50% - 6rem);
    top: -1.5rem;
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    color: var(--just-white);
}
.plan-card--title {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: black;
}
.plan-card--price {
    padding: 0.5rem 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 15rem;
    height: 4.8rem;
    margin-top: 2rem;
    border: 0.2rem solid;
    border-color: var(--bitcoin-orange);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}
.plan-card--ca span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: text-bottom;
}
footer {
    display:flex;
    width: 100%;
    height: 15rem;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 1rem 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}